.card-img,
.card-overlay,
.hamburger-menu .menu {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2C2416;
}

.navbar {
  position: relative;
  z-index: 200;
}

.navbar-navigation {
  display: flex;
}

.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(44, 36, 22, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg-image-left.jpeg") center no-repeat;
  background-color: #2C2416;
  background-size: cover;
  position: fixed;
  left: -50vw;
  transition: left 0.7s cubic-bezier(1, 0, 0, 1);
}

@media (max-width: 800px) {
  .navbar-navigation-left {
    display: none;
  }
}

.navbar-navigation-left .left-img {
  width: 50%;
  position: absolute;
  box-shadow: 30px 30px 60px #000;
  opacity: 1;
  border: 2px solid #D2691E;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .navbar-navigation-left .left-img {
    width: 55%;
  }
}

@media (max-width: 1000px) {
  .navbar-navigation-left .left-img {
    width: 65%;
  }
}

.navbar-navigation-left .left-img-1 {
  top: 15%;
  left: 15%;
}

@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-1 {
    left: 5%;
  }
}

.navbar-navigation-left .left-img-2 {
  top: 35%;
  left: 25%;
}

@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-2 {
    left: 15%;
  }
}

.navbar-navigation-left .left-img-3 {
  top: 55%;
  left: 35%;
}

@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-3 {
    left: 25%;
  }
}

.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(to bottom, rgba(44, 36, 22, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg-image-1.jpeg") center no-repeat;
  background-size: cover;
  background-color: #1f1d1d;
  right: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2C2416;
  transition: right 0.7s cubic-bezier(1, 0, 0, 1);
}

@media (max-width: 800px) {
  .navbar-navigation-right {
    width: 100vw;
    right: -100vw;
  }
}

.navbar-navigation .nav-list-item {
  list-style: none;
}

.navbar-navigation .nav-list-link {
  font-family: "Dancing Script", cursive;
  font-size: 100px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #F5DEB3;
  text-decoration: none;
  display: block;
  margin: 20px;
  text-align: center;
  transition: all 0.5s;
}

.navbar-navigation .nav-list-link:hover {
  color: #D2691E;
  letter-spacing: 4px;
}

@media (max-width: 2560px) {
  .navbar-navigation .nav-list-link {
    font-size: 50px;
  }
}

@media (max-width: 600px) {
  .navbar-navigation .nav-list-link {
    font-size: 40px;
  }
}

.checkbox:checked~.navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked~.navbar-navigation .navbar-navigation-right {
  right: 0%;
}

.checkbox:checked~.hamburger-menu .menu::after {
  transform: scale(1) translate(-3%);
  opacity: 1;
}

.checkbox:checked~.hamburger-menu .menu-line {
  background-color: #000;
}

.checkbox:checked~.hamburger-menu .menu-line-1 {
  transform: rotateZ(-43deg);
}

.checkbox:checked~.hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked~.hamburger-menu .menu-line-3 {
  transform: rotateZ(43deg);
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../images/bg-image-2.jpeg") center no-repeat;
  background-size: cover;
}

.header .brand {
  display: flex;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 50px;
}

.header .brand .logo-img {
  width: 100%;
}

@media (max-width: 1000px) {
  .header .brand .logo-img {
    width: 120%;
  }
}

@media (max-width: 500px) {
  .header .brand .logo-img {
    width: 180%;
  }
}

@media (max-width: 350px) {
  .header .brand {
    top: 18%;
  }
}

.header-banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1600px) {
  .header-banner {
    top: 45%;
  }
}

@media (max-width: 350px) {
  .header-banner {
    top: 50%;
  }
}

.about-us {
  min-height: 90vh;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

@media (max-width: 900px) {
  .about-us {
    min-height: 70vh;
  }
}

.about-us-left {
  width: 40%;
  position: relative;
}

@media (max-width: 800px) {
  .about-us-left {
    display: none;
  }
}

.about-us-left img {
  width: 100%;
  opacity: 0.8;
}

.about-us-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 100px;
  box-sizing: border-box;
}

@media (max-width: 1300px) {
  .about-us-right {
    padding: 0 50px;
  }
}

@media (max-width: 800px) {
  .about-us-right {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .about-us-right {
    padding: 0 20px;
  }
}


@media (max-width: 1000px) {
  .about-us-right .stars {
    margin: 15px 0;
  }
}

.about-us-right .star {
  width: 22px;
  margin-left: 10px;
}

@media (max-width: 2560px) {
  .about-us-right .star {
    width: 15px;
  }
}

@media (max-width: 1000px) {
  .about-us-right .star {
    width: 12px;
  }
}

.about-us-right .description {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  color: #F5DEB3;
  width: 70%;
  text-align: justify;
  line-height: 48px;
}

.about-us-right .description::first-letter {
  padding-left: 50px;
}

@media (max-width: 2560px) {
  .about-us-right .description {
    font-size: 25px;
    line-height: 30px;
    width: 100%;
  }
}

@media (max-width: 1600px) {
  .about-us-right .description {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .about-us-right .description {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 500px) {
  .about-us-right .description {
    font-size: 12px;
  }
}

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 500px) {
  .footer {
    padding: 40px 0;
  }
}

.footer-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .footer-header .logo {
    margin-right: 10px;
  }
}

.footer .social-media {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 2560px) {
  .footer .social-media {
    width: 300px;
  }
}

@media (max-width: 500px) {
  .footer .social-media {
    width: 200px;
    margin-bottom: 40px;
  }
}

.footer .social-media-item {
  list-style: none;
}

.footer .social-media-link {
  text-decoration: none;
  font-size: 70px;
  color: #F5DEB3;
}

@media (max-width: 2560px) {
  .footer .social-media-link {
    font-size: 50px;
  }
}

@media (max-width: 1000px) {
  .footer .social-media-link {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  .footer .social-media-link {
    font-size: 25px;
  }
}

.footer .social-media-link .fab {
  transition: all 0.3s;
}

.footer .social-media-link:hover>.fab {
  color: deeppink;
  transform: scale(1.15);
}

@media (max-width: 1000px) {
  .footer .social-media-link {
    font-size: 35px;
  }
}

.footer-copyright-paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: #D2691E;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
}

@media (max-width: 2560px) {
  .footer-copyright-paragraph {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .footer-copyright-paragraph {
    width: 70%;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .footer-copyright-paragraph {
    font-size: 14px;
  }
}

.hamburger-menu {
  width: 99px;
  height: 99px;
  position: fixed;
  top: 7%;
  right: 5%;
  z-index: 300;
}

@media (max-width: 2560px) {
  .hamburger-menu {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 800px) {
  .hamburger-menu {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 350px) {
  .hamburger-menu {
    top: 5%;
  }
}

.hamburger-menu .menu::after {
  content: "";
  height: 135px;
  width: 135px;
  background-color: #F5DEB3;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.1) translate(-20%);
  transition: transform 1s, opacity 500ms;
}

@media (max-width: 2560px) {
  .hamburger-menu .menu::after {
    height: 45px;
    width: 45px;
  }
}

.hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: all 0.5s;
  padding: 0rem;
  border-radius: 50%;
  transition: all 0.5s;
  position: relative;
}

.hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: lightcyan;
  transform-origin: right;
  transition: all 0.5s;
  z-index: 300;
}

@media (max-width: 800px) {
  .hamburger-menu .menu-line {
    height: 3px;
  }
}



@media (max-width: 2560px) {
  .logo {
    width: 135px;
    height: 135px;
  }
}

@media (max-width: 1000px) {
  .logo {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 60px;
    height: 60px;
    border-width: 2px;
  }
}

.logo .logo-img {
  width: 90%;
}

.main-name {
  font-family: "Nunito", sans-serif;
  font-size: 80px;
  color: #F5DEB3;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 2560px) {
  .main-name {
    font-size: 50px;
  }
}

@media (max-width: 1000px) {
  .main-name {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .main-name {
    font-size: 25px;
    text-align: center;
  }
}

.sub-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  color: #F5DEB3;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 2560px) {
  .sub-name {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .sub-name {
    font-size: 15px;
    text-align: center;
  }
}

.main-heading {
  font-family: "Dancing Script", cursive;
  font-size: 200px;
  font-weight: 300;
  color: #D2691E;
  margin-bottom: 40px;
}

@media (max-width: 2560px) {
  .main-heading {
    font-size: 100px;
  }
}

@media (max-width: 1600px) {
  .main-heading {
    font-size: 80px;
  }
}

@media (max-width: 1000px) {
  .main-heading {
    font-size: 60px;
  }
}

@media (max-width: 500px) {
  .main-heading {
    font-size: 45px;
    margin-bottom: 15px;
  }
}

.sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 80px;
  font-weight: 300;
  color: #F5DEB3;
  margin-bottom: 80px;
  text-align: center;
}

@media (max-width: 2560px) {
  .sub-heading {
    font-size: 60px;
  }
}

@media (max-width: 1600px) {
  .sub-heading {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1300px) {
  .sub-heading {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1000px) {
  .sub-heading {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .sub-heading {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

.main-btn {
  width: 300px;
  height: 110px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #D2691E;
  background-color: #000;
  border: 1px solid #D2691E;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  animation: neon 12s infinite;
}

@media (max-width: 2560px) {
  .main-btn {
    width: 170px;
    height: 45px;
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .main-btn {
    width: 150px;
    height: 40px;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .main-btn {
    width: 120px;
    height: 35px;
    font-size: 10px;
  }
}

.main-btn:hover {
  background-color: #D2691E;
  color: #000;
  animation: none;
}

.secondary-btn {
  width: 290px;
  height: 110px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  background-color: #D2691E;
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

@media (max-width: 2560px) {
  .secondary-btn {
    width: 170px;
    height: 45px;
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .secondary-btn {
    width: 150px;
    height: 40px;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .secondary-btn {
    width: 120px;
    height: 35px;
    font-size: 10px;
  }
}

.secondary-btn:hover {
  background-color: #000;
  color: #D2691E;
  border: 1px solid #D2691E;
}

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;
}

.card:hover .card-overlay {
  top: 0;
}

.card-overlay {
  position: absolute;
  top: -100%;
  left: 0;
  background-color: rgba(210, 105, 30, 0.6);
  color: #fff;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: top 0.6s;
}

.card-overlay-heading {
  font-family: "Nunito", sans-serif;
  font-size: 80px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}

@media (max-width: 2560px) {
  .card-overlay-heading {
    font-size: 50px;
  }
}

@media (max-width: 1060px) {
  .card-overlay-heading {
    font-size: 35px;
  }
}

@media (max-width: 770px) {
  .card-overlay-heading {
    font-size: 25px;
  }
}

@media (max-width: 580px) {
  .card-overlay-heading {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .card-overlay-heading {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.card-overlay-paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}

@media (max-width: 2560px) {
  .card-overlay-paragraph {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .card-overlay-paragraph {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .card-overlay-paragraph {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .card-overlay-paragraph {
    display: none;
  }
}

.card-overlay-btn {
  color: #000;
  background-color: #fff;
  font-family: "Josefin Sans", sans-serif;
  padding: 20px 60px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #D2691E;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  margin: 0 auto;
}

.card-overlay-btn:hover {
  color: #D2691E;
  background-color: #000;
}

@media (max-width: 2560px) {
  .card-overlay-btn {
    padding: 15px 50px;
    font-size: 14px;
    padding: 12px 35px;
  }
}

@media (max-width: 900px) {
  .card-overlay-btn {
    padding: 12px 35px;
    font-size: 12px;
  }
}

@media (max-width: 715px) {
  .card-overlay-btn {
    padding: 10px 30px;
    font-size: 10px;
  }
}

.card-img {
  object-fit: cover;
  opacity: 0.7;
}

@keyframes neon {
  0% {
    color: #D2691E;
    border: 1px solid #D2691E;
  }

  10% {
    color: #D2691E;
    border: 1px solid #D2691E;
    background-color: #000;
  }

  10.5% {
    color: #000;
    border: 1px solid #000;
    background-color: transparent;
  }

  11% {
    color: #D2691E;
    border: 1px solid #D2691E;
    background-color: #000;
  }

  11.5% {
    color: #000;
    border: 1px solid #000;
  }

  12% {
    color: #D2691E;
    border: 1px solid #D2691E;
    background-color: #000;
  }

  14% {
    color: #000;
    border: 1px solid #000;
    background-color: transparent;
    filter: brightness(1);
  }

  17% {
    color: deeppink;
    border: 1px solid deeppink;
    background-color: #000;
    filter: brightness(1.3);
  }

  45% {
    color: deeppink;
    border: 1px solid deeppink;
    background-color: #000;
    filter: brightness(1.5);
  }

  45.5% {
    color: #000;
    border: 1px solid #000;
    filter: brightness(1);
  }

  46% {
    color: deeppink;
    border: 1px solid deeppink;
    background-color: #000;
  }

  46.5% {
    color: #000;
    border: 1px solid #000;
    background-color: transparent;
  }

  47% {
    color: deeppink;
    border: 1px solid deeppink;
    background-color: #000;
  }

  49% {
    color: #000;
    border: 1px solid #000;
  }

  50% {
    color: #D2691E;
    border: 1px solid #D2691E;
    background-color: #000;
  }
}

/*# sourceMappingURL=main.css.map */